$size: 250px;
$width: 20px;
$pointer: 15px;
.color-picker {
    //background-color: #474748;
    box-sizing: border-box;
    padding: 20px;
    display: inline-block;
    -webkit-box-shadow: inset 0px 0px 8px 1px rgba(0, 0, 0, 0.36);
    -moz-box-shadow: inset 0px 0px 8px 1px rgba(0, 0, 0, 0.36);
    box-shadow: inset 0px 0px 8px 1px rgba(0, 0, 0, 0.36);
    border-radius: 10px;
    &_panel {
        height: $size;
        width: $size;
        display: inline-block;
        position: relative;
        cursor: crosshair;
        &-color {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            //border-radius: 10px;
        }
        &-point {
            position: absolute;
            height: $pointer;
            width: $pointer;
            border-radius: 50%;
            border: 3px solid;
            transform: translate(-50%, -50%);
            outline: 0;
            padding: 0;
            margin: 0;
            cursor: crosshair;
            &:focus {
                -webkit-box-shadow: 0px 0px 2px 2px rgba(176, 176, 255, 1);
                -moz-box-shadow: 0px 0px 2px 2px rgba(176, 176, 255, 1);
                box-shadow: 0px 0px 2px 2px rgba(176, 176, 255, 1);
            }
        }
    }
    &_overlay {
        &-black {
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0);
            background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
            background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 1)));
            background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
            background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
            background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
        }
        &-white {
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 1);
            background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
            background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(255, 255, 255, 0)));
            background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
            background: -o-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
            background: -ms-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
            background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
        }
    }
    &_line {
        width: $width;
        margin-left: $width;
        height: $size;
        display: inline-block;
        cursor: n-resize;
        position: relative;
        //border-radius: 5px;
        padding: 1px 0;
        background: rgba(255, 0, 0, 0);
        background: -moz-linear-gradient(top, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 255, 1) 17%, rgba(0, 0, 255, 1) 33%, rgba(0, 255, 255, 1) 50%, rgba(0, 255, 0, 1) 67%, rgba(255, 255, 0, 1) 83%, rgba(255, 0, 0, 1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 0, 0, 1)), color-stop(17%, rgba(255, 0, 255, 1)), color-stop(33%, rgba(0, 0, 255, 1)), color-stop(50%, rgba(0, 255, 255, 1)), color-stop(67%, rgba(0, 255, 0, 1)), color-stop(83%, rgba(255, 255, 0, 1)), color-stop(100%, rgba(255, 0, 0, 1)));
        background: -webkit-linear-gradient(top, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 255, 1) 17%, rgba(0, 0, 255, 1) 33%, rgba(0, 255, 255, 1) 50%, rgba(0, 255, 0, 1) 67%, rgba(255, 255, 0, 1) 83%, rgba(255, 0, 0, 1) 100%);
        background: -o-linear-gradient(top, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 255, 1) 17%, rgba(0, 0, 255, 1) 33%, rgba(0, 255, 255, 1) 50%, rgba(0, 255, 0, 1) 67%, rgba(255, 255, 0, 1) 83%, rgba(255, 0, 0, 1) 100%);
        background: -ms-linear-gradient(top, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 255, 1) 17%, rgba(0, 0, 255, 1) 33%, rgba(0, 255, 255, 1) 50%, rgba(0, 255, 0, 1) 67%, rgba(255, 255, 0, 1) 83%, rgba(255, 0, 0, 1) 100%);
        background: linear-gradient(to bottom, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 255, 1) 17%, rgba(0, 0, 255, 1) 33%, rgba(0, 255, 255, 1) 50%, rgba(0, 255, 0, 1) 67%, rgba(255, 255, 0, 1) 83%, rgba(255, 0, 0, 1) 100%);
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#ff0000', GradientType=0);
        &-point {
            position: absolute;
            left: 50%;
            top: 0;
            cursor: n-resize;
            // height: 0;
            // width: $width;
            // border: 0;
            // &:focus{
            //     outline: 0;
            // }
            width: $width+6;
            height: $width/2;
            //border: 3px solid #dedede;
            border: 3px solid #000;
            border-radius: 2px;
            transform: translate(-50%, -50%);
            &:focus {
                -webkit-box-shadow: 0px 0px 2px 2px rgba(176, 176, 255, 1);
                -moz-box-shadow: 0px 0px 2px 2px rgba(176, 176, 255, 1);
                box-shadow: 0px 0px 2px 2px rgba(176, 176, 255, 1);
            }
            // &:before {
            //     content: "";
            //     position: absolute;
            //     left: 0;
            //     width: 0;
            //     height: 0;
            //     border: 5px solid transparent;
            //     border-left: 5px solid #000;
            //     transform: translate(-50%, -50%);
            // }
            // &:after {
            //     content: "";
            //     position: absolute;
            //     right: 0;
            //     width: 0;
            //     height: 0;
            //     border: 5px solid transparent;
            //     border-right: 5px solid #000;
            //     transform: translate(50%, -50%);
            // }
        }
    }
    &_input {
        display: block;
        margin: 5px;
        position: relative;
        &:before {
            content: "";
            display: block;
            height: 100px;
            width: 100px;
            background-color: #000;
            position: absolute;
        }
    }
}

.p {
    margin: 30px;
}
